.Button {
    border-radius: 10rem;
    border-width: .1rem;
    border-style: solid;
    cursor: pointer;
    font-weight: bold;
}

.Button--disabled {
    opacity: .5;
    pointer-events: none;
}

.Button--disabled:hover {
    box-shadow: none;
}