.Footer {
    width: 100%;
    padding: 1rem .5rem;
}

.Footer-ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.Footer-li {
    list-style: none;
    font-size: .85rem;
    color: #536471;
}