.Separator {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: .5rem 0;
    width: min(100%, 20rem);
}
.Separator-line {
    display: inline-block;
    width: 8rem;
    height: .02rem;
    background-color: #CFD9DE;
}